body {
    --black: #19191e;
    --white: #f7f7f9;

    background-color: var(--white);
    color: var(--black);
}

.clock {
    margin: auto;
    display: block;
}

.clock-label {
    text-align: center;
    font-family: "Pretendard", sans-serif;
    font-variant: tabular-nums;
}

@media (prefers-color-scheme: dark) {
    body {
        --black: #f7f7f9;
        --white: #19191e;
    }
}

@media screen and (max-width: 768px) {
    .clock {
        width: 360px;
        height: 360px;
    }
}