body {
    --black: #19191e;
    --white: #f7f7f9;

    background-color: var(--white);
    color: var(--black);
}

.clock {
    margin: auto;
    display: block;
}

.clock-label {
    text-align: center;
    font-family: "Pretendard", sans-serif;
    font-variant: tabular-nums;
}